<section id="contact">
  <h1>Contact</h1>
  <p>Please contact me directly at <a href="mailto:contact@adriangaborek.dev"> contact{{'@'}}adriangaborek.dev</a></p>

  <form>
    <label for="email">Your email</label>
    <input type="email" id="email" name="email" />

    <label for="message">Your message</label>
    <textarea
      id="message"
      name="message"
      placeholder="Your message"
      required
      maxlength="5000"
    ></textarea>

    <button type="submit">Send</button>
  </form>
</section>
