<section id="contact">
  <h1>{{ blok.title }}</h1>
  <p [innerHTML]="blok.prompt | richText"></p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <input
      type="email"
      id="email"
      formControlName="email"
      [placeholder]="blok.email_placeholder"
      required
    />

    <textarea
      id="message"
      formControlName="message"
      [placeholder]="blok.message_placeholder"
      required
      maxlength="5000"
    ></textarea>

    <button type="submit" [disabled]="!contactForm.valid">{{blok.send_text}}</button>
  </form>
</section>
