@switch (blok.component) {
  @case ('header') {
    <app-header [blok]="blok"></app-header>
  }
  @case ('hero') {
    <app-hero [blok]="blok"></app-hero>
  }
  @case ('about') {
    <app-about [blok]="blok"></app-about>
  }
  @case ('skills') {
    <app-skills [blok]="blok"></app-skills>
  }
  @case ('experience') {
    <app-experience [blok]="blok"></app-experience>
  }
  @case ('projects') {
    <app-projects [blok]="blok"></app-projects>
  }
  @case ('contact') {
    <app-contact [blok]="blok"></app-contact>
  }
  @case ('footer') {
    <app-footer [blok]="blok"></app-footer>
  }
}
