@switch (blok.component) {
  @case ('header') {
    <app-header [blok]="blok"></app-header>
  }
}

@defer (on idle; prefetch on immediate) {
    @switch (blok.component) {
      @case ('hero') {
        <app-hero [blok]="blok"></app-hero>
      }
      @case ('about') {
        <app-about [blok]="blok"></app-about>
      }
      @case ('projects') {
        <app-projects   [blok]="blok"></app-projects>
      }
    }
} @placeholder (minimum 100ms) {
}

@defer (on viewport) {
  @switch (blok.component) {
    @case ('skills')     { <app-skills [blok]="blok"></app-skills> }
    @case ('experience') { <app-experience [blok]="blok"></app-experience> }
    @case ('contact')    { <app-contact    [blok]="blok"></app-contact> }
    @case ('footer')     { <app-footer     [blok]="blok"></app-footer> }
  }
} @placeholder (minimum 1000ms) {
  <div class="skeleton-segment"></div>
}
