<section id="projects">
  <h2>{{ blok.title }}</h2>

  <div class="projects-container">
    @for (project of blok.projects; track project._uid) {
      <article class="project-item">
        <div class="project-content">
          <h3 class="project-title">{{ project.title }}</h3>
          <a [href]="project.github_link.url"
             target="_blank"
             rel="noopener noreferrer"
             class="project-link github-link">
            View on GitHub
          </a>
          <div class="project-description" [innerHTML]="project.description | richText"></div>

          @if (project.link?.url) {
            <a [href]="project.link.url"
               target="_blank"
               rel="noopener noreferrer"
               class="project-link website-link">
              Go to project domain
            </a>
          }

          <ul class="tech-list">
            @for (technology of project.technologies; track technology._uid) {
              <li class="tech-item">{{ technology.text }}</li>
            }
          </ul>
        </div>

        <div class="project-image">
          <img [src]="project.image.filename" [alt]="project.image.alt">
        </div>
      </article>
    }
  </div>
</section>

