<section id="experience">
  <h2>{{ blok.title }}</h2>
  <ol class="experience-timeline">
  @for (experience of blok?.experiences; track experience._uid) {
    <li class="timeline-item">
      <div class="timeline-icon">
        @if (experience.icon?.filename) {
          <img [src]="experience.icon.filename" [alt]="experience.icon.alt || 'Timeline icon'">
        }
      </div>
      <article class="timeline-content">
        <h3>{{ experience.title }}</h3>
        <p class="timeline-subtitle"><p>{{ experience.location }}</p>
        <p>
          {{ experience.description }}
        </p>
      </article>
      <span>{{experience.timeline}}</span>
    </li>
  }
  </ol>
</section>
